fiwareNodeRed/data/flows.json
[
    {
        "id": "32280c71f0756df8",
        "type": "tab",
        "label": "NGSI subscription",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f999ca303cfa8909",
        "type": "tab",
        "label": "SuscripcionFiware",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "75794bca315ac044",
        "type": "Open APIs",
        "name": "STH-Comet",
        "geType": "comet",
        "apiEndpoint": "http://comet:8666",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    },
    {
        "id": "8a5400cf6326a10c",
        "type": "Open APIs",
        "name": "Orion",
        "geType": "orion",
        "apiEndpoint": "http://orion:1026",
        "service": "",
        "idmEndpoint": "",
        "idmType": "none"
    },
    {
        "id": "63a94ad39cef2077",
        "type": "Open APIs",
        "name": "Quantumleap",
        "geType": "quantumleap",
        "apiEndpoint": "http://quantumleap:8668",
        "service": "openiot",
        "idmEndpoint": "",
        "idmType": "none"
    },
    {
        "id": "5f740743e2773a8c",
        "type": "ui_tab",
        "name": "Agua",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6b9a7bf9e48286c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89a92138b809a173",
        "type": "ui_group",
        "name": "DH11",
        "tab": "1d521f9e5ab428e9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "b66564dd31c16395",
        "type": "ui_tab",
        "name": "Conductividad",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c4b9a341a2c3f4c",
        "type": "ui_tab",
        "name": "Humedad",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e531166fa388e4df",
        "type": "ui_group",
        "name": "DH22",
        "tab": "05eeded002daf751",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1d521f9e5ab428e9",
        "type": "ui_tab",
        "name": "Temperatura",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9ab664c9952119e",
        "type": "ui_tab",
        "name": "Dielectricidad",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e957c6ab0cbd6ce6",
        "type": "ui_tab",
        "name": "Radiacion",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e223778965035348",
        "type": "ui_group",
        "name": "DH22",
        "tab": "8c4b9a341a2c3f4c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f584816d99864e6",
        "type": "ui_group",
        "name": "DH11",
        "tab": "8c4b9a341a2c3f4c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "400e0c3ccc911ece",
        "type": "ui_group",
        "name": "Agua",
        "tab": "5f740743e2773a8c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7c2912b71154d64",
        "type": "ui_group",
        "name": "Radiacion",
        "tab": "e957c6ab0cbd6ce6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f890c099be207c1",
        "type": "ui_group",
        "name": "Conductividad",
        "tab": "b66564dd31c16395",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09c3a9f431d213bb",
        "type": "ui_group",
        "name": "Default",
        "tab": "e9ab664c9952119e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1c99dbcb6319e57",
        "type": "ui_group",
        "name": "Suelo",
        "tab": "1d521f9e5ab428e9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05eeded002daf751",
        "type": "ui_tab",
        "name": "S. DHT22 (Temp y Hum)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "01b56f9d4438f9dc",
        "type": "ui_group",
        "name": "DH22",
        "tab": "1d521f9e5ab428e9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd816eb6b37af368",
        "type": "ui_tab",
        "name": "S. DHT11 (Temp y Hum)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4151fc1ef1298e9d",
        "type": "ui_group",
        "name": "S. DHT11 (Temp y Hum)",
        "tab": "fd816eb6b37af368",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6973b8649341f1e",
        "type": "ui_tab",
        "name": "S. Radiacion",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e3f32ca62c2cc5c",
        "type": "ui_group",
        "name": "Radiacion",
        "tab": "b6973b8649341f1e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1327802e82fbb064",
        "type": "ui_tab",
        "name": "S. Suelo (Temp, Agua, Conduct, Dielec)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "292931acccd109d9",
        "type": "ui_group",
        "name": "Suelo",
        "tab": "1327802e82fbb064",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5403699fb0c2aec2",
        "type": "inject",
        "z": "32280c71f0756df8",
        "name": "Create subscription",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"description\": \"Subscription for EstacionAIOT sensor data to Node-RED\",   \"subject\": {     \"entities\": [       {         \"id\": \"EstacionAIOT-SmartHome\",         \"type\": \"EstacionAIOT\"       }     ],     \"condition\": {       \"attrs\": [         \"sDHT11_Temperatura\",         \"sDHT11_Humedad\",         \"sDHT22_Temperatura\",         \"sDHT22_Humedad\",         \"sSuelo_Agua\",         \"sSuelo_Dielectricidad\",         \"sSuelo_Conductividad\",         \"sSuelo_Temperatura\",         \"sRadiacion\"       ]     }   },   \"notification\": {     \"http\": {       \"url\": \"http://node-red:1880/update\"     },     \"attrs\": [       \"sDHT11_Temperatura\",       \"sDHT11_Humedad\",       \"sDHT22_Temperatura\",       \"sDHT22_Humedad\",       \"sSuelo_Agua\",       \"sSuelo_Dielectricidad\",       \"sSuelo_Conductividad\",       \"sSuelo_Temperatura\",       \"sRadiacion\"     ],     \"metadata\": [\"dateCreated\", \"dateModified\"]   },   \"throttling\": 5,   \"expires\": \"2030-01-01T14:00:00.00Z\" }",
        "payloadType": "json",
        "x": 190,
        "y": 60,
        "wires": [
            [
                "949906f07a4a8dfe"
            ]
        ]
    },
    {
        "id": "9f0e94312e79a876",
        "type": "debug",
        "z": "32280c71f0756df8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "949906f07a4a8dfe",
        "type": "NGSI subscription",
        "z": "32280c71f0756df8",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/AlmeriaAIoT",
        "actionType": "create",
        "entityType": "",
        "idPattern": "",
        "watchedAttrs": "",
        "query": "",
        "url": "",
        "attrs": "",
        "attrsFormat": "",
        "x": 410,
        "y": 60,
        "wires": [
            [
                "9f0e94312e79a876"
            ]
        ]
    },
    {
        "id": "3a7b41b2cc940132",
        "type": "NGSI subscription",
        "z": "32280c71f0756df8",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "update",
        "entityType": "",
        "idPattern": "",
        "watchedAttrs": "",
        "query": "",
        "url": "",
        "attrs": "",
        "attrsFormat": "",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "9f0e94312e79a876"
            ]
        ]
    },
    {
        "id": "84d61d13ec364321",
        "type": "inject",
        "z": "32280c71f0756df8",
        "name": "Update subscription",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"id\": \"63ea11e4a0cec98fc6017aae\", \"expires\": \"2030-04-05T14:00:00.00Z\" }",
        "payloadType": "json",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "3a7b41b2cc940132"
            ]
        ]
    },
    {
        "id": "5a5e23fb4b447dbf",
        "type": "NGSI subscription",
        "z": "32280c71f0756df8",
        "name": "",
        "openapis": "8a5400cf6326a10c",
        "servicepath": "/",
        "actionType": "delete",
        "entityType": "",
        "idPattern": "",
        "watchedAttrs": "",
        "query": "",
        "url": "",
        "attrs": "",
        "attrsFormat": "",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "9f0e94312e79a876"
            ]
        ]
    },
    {
        "id": "ba3298bc4f1d2401",
        "type": "inject",
        "z": "32280c71f0756df8",
        "name": "Delete subscription",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "63ea0733a0cec98fc6017aac",
        "payloadType": "str",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "5a5e23fb4b447dbf"
            ]
        ]
    },
    {
        "id": "04b3187bf2e2bb4e",
        "type": "http in",
        "z": "f999ca303cfa8909",
        "name": "",
        "url": "/update",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 180,
        "wires": [
            [
                "2b535f96610c8d7b",
                "61d91010bc7bc73a",
                "11281811321dc529",
                "23f926835dc3c3bc"
            ]
        ]
    },
    {
        "id": "2b535f96610c8d7b",
        "type": "debug",
        "z": "f999ca303cfa8909",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.data.0",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "61d91010bc7bc73a",
        "type": "http response",
        "z": "f999ca303cfa8909",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 380,
        "wires": []
    },
    {
        "id": "11281811321dc529",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "global",
                "to": "payload.data.0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e3b923af1dc08c8b",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "01b56f9d4438f9dc",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT22_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "23f926835dc3c3bc",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.data.0",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 180,
        "wires": [
            [
                "ab40e6bbe76ea8f4",
                "94dc8030c4d69085",
                "04ecaba85d055bf6",
                "4d34120f0c597797",
                "921735cc9fba8860",
                "b866ef644273e402",
                "4ebbd1f66a440a14",
                "c70960e8ba64b80a",
                "4bf0b779c35f4963"
            ]
        ]
    },
    {
        "id": "527aa6c4555bcf3f",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "89a92138b809a173",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT11_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab40e6bbe76ea8f4",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT11_Temperatura.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "527aa6c4555bcf3f",
                "fa9b13dd91ac5d1f",
                "a2ba455f3754e50b",
                "8d52d52e1321bfb3"
            ]
        ]
    },
    {
        "id": "94dc8030c4d69085",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT22_Temperatura.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 120,
        "wires": [
            [
                "e3b923af1dc08c8b",
                "0f8b206f652ee697",
                "8f548868b986859f",
                "ec5c0a0e16c4b309"
            ]
        ]
    },
    {
        "id": "4d34120f0c597797",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT11_Temperatura.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "63316a27884168c0",
                "955a293fcdb773be",
                "b606181ef908f953",
                "dc43e850a5f2512a"
            ]
        ]
    },
    {
        "id": "04ecaba85d055bf6",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sDHT22_Temperatura.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 320,
        "wires": [
            [
                "e94ad4a2f1ab5ca4",
                "2eea976f625d2ad5",
                "6e35bcd104b1b0d6",
                "96e4d546716be351"
            ]
        ]
    },
    {
        "id": "63316a27884168c0",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "2f584816d99864e6",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT11_Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e94ad4a2f1ab5ca4",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e223778965035348",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT22_Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "921735cc9fba8860",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sRadiacion.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 520,
        "wires": [
            [
                "738e517a94cbefb4",
                "bec034469eab0e1f",
                "1bb4f2f9427c7d4b",
                "5c1155f48a1c6b64"
            ]
        ]
    },
    {
        "id": "738e517a94cbefb4",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "f7c2912b71154d64",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sRadiacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b866ef644273e402",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sSuelo_Agua.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 620,
        "wires": [
            [
                "217e96e3ae64d643",
                "ee340c5f764b49e2",
                "be6b77779969be67",
                "6dcea8d0d7d51724"
            ]
        ]
    },
    {
        "id": "c68f441e81a4160f",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "6f890c099be207c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Conductividad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "4ebbd1f66a440a14",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sSuelo_Conductividad.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "c68f441e81a4160f",
                "2dcfbda6a6e2f5d7",
                "386ee3c9eb3c4233",
                "865d3dd08b39d4fc"
            ]
        ]
    },
    {
        "id": "217e96e3ae64d643",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "400e0c3ccc911ece",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9cb0bf56579fe35c",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "09c3a9f431d213bb",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Dielectricidad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "c70960e8ba64b80a",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sSuelo_Dielectricidad.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 820,
        "wires": [
            [
                "9cb0bf56579fe35c",
                "fa3b0baf078959c5",
                "8aa6d585b47cdd15",
                "15596abce47f7fd1"
            ]
        ]
    },
    {
        "id": "4bf0b779c35f4963",
        "type": "change",
        "z": "f999ca303cfa8909",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.sSuelo_Temperatura.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 920,
        "wires": [
            [
                "4bfc52c50f039f48",
                "98d73b5306bdad2d",
                "b62929c7663428d4",
                "10d9cf3e175cfa31"
            ]
        ]
    },
    {
        "id": "4bfc52c50f039f48",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "f1c99dbcb6319e57",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0f8b206f652ee697",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e531166fa388e4df",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT22_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fa9b13dd91ac5d1f",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "4151fc1ef1298e9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT11_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "955a293fcdb773be",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "4151fc1ef1298e9d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT11_Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2eea976f625d2ad5",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e531166fa388e4df",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sDHT22_Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "bec034469eab0e1f",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "6e3f32ca62c2cc5c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sRadiacion",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2dcfbda6a6e2f5d7",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Conductividad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "ee340c5f764b49e2",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Agua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1110,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "fa3b0baf078959c5",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Dielectricidad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "98d73b5306bdad2d",
        "type": "ui_chart",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "sSuelo_Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1140,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "8f548868b986859f",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e531166fa388e4df",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT22_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 60,
        "wires": []
    },
    {
        "id": "6e35bcd104b1b0d6",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e223778965035348",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT22_Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 280,
        "wires": []
    },
    {
        "id": "1bb4f2f9427c7d4b",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "6e3f32ca62c2cc5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sRadiacion",
        "label": "umol*m^-2*s-1",
        "format": "{{value}}",
        "min": 0,
        "max": "8000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 460,
        "wires": []
    },
    {
        "id": "5c1155f48a1c6b64",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "f7c2912b71154d64",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sRadiacion",
        "label": "umol*m^-2*s-1",
        "format": "{{value}}",
        "min": 0,
        "max": "8000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 480,
        "wires": []
    },
    {
        "id": "be6b77779969be67",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Agua",
        "label": "litros",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "6dcea8d0d7d51724",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "400e0c3ccc911ece",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_agua",
        "label": "litros",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 580,
        "wires": []
    },
    {
        "id": "386ee3c9eb3c4233",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Conductividad",
        "label": "μS/cm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 660,
        "wires": []
    },
    {
        "id": "865d3dd08b39d4fc",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "6f890c099be207c1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Conductividad",
        "label": "μS/cm",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 680,
        "wires": []
    },
    {
        "id": "8aa6d585b47cdd15",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Dielectricidad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 760,
        "wires": []
    },
    {
        "id": "15596abce47f7fd1",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "09c3a9f431d213bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Dielectricidad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 780,
        "wires": []
    },
    {
        "id": "ec5c0a0e16c4b309",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "01b56f9d4438f9dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT22_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 80,
        "wires": []
    },
    {
        "id": "a2ba455f3754e50b",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "4151fc1ef1298e9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT11_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0",
        "seg2": "0",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "8d52d52e1321bfb3",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "89a92138b809a173",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT11_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "b62929c7663428d4",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "f1c99dbcb6319e57",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 880,
        "wires": []
    },
    {
        "id": "10d9cf3e175cfa31",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "292931acccd109d9",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sSuelo_Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1140,
        "y": 860,
        "wires": []
    },
    {
        "id": "96e4d546716be351",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "e531166fa388e4df",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT22_Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 260,
        "wires": []
    },
    {
        "id": "b606181ef908f953",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "4151fc1ef1298e9d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT11_Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "dc43e850a5f2512a",
        "type": "ui_gauge",
        "z": "f999ca303cfa8909",
        "name": "",
        "group": "2f584816d99864e6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "sDHT11_Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1350,
        "y": 380,
        "wires": []
    }
]